# Ignore all CSVs, PTHs, and checkpoints
*.csv
*.pth
fl/checkpoints/
fl/data/

# BUT allow these specific files
!fl/data/Bank_11.csv
!fl/data/Bank_12.csv
!fl/checkpoints/best_model.pkl
!fl/checkpoints/latest_model.pkl